[bumpversion]
current_version = 0.0.11
commit = True
tag = true
parse = (?P<major>\d+)\.(?P<minor>\d+)\.(?P<patch>\d+)
serialize = {major}.{minor}.{patch}

[bumpversion:file:setup.py]
[bumpversion:file:uberlogs/__init__.py]

