layout python python2
if [ ! -f ".direnv/direnv.lock" ]; then

   for req in requirements requirements-test; do
      if [ -f $req.txt ]; then
         echo "direnv: installing project $req"
         pip install -r $req.txt 1> /dev/null
      fi
   done

   for package in ipython bumpversion; do
      echo "direnv: installing $package"
      pip install --upgrade $package 1> /dev/null
   done

   date +%FT%TZ > .direnv/direnv.lock
fi
