layout python python2
if [ ! -f ".direnv/direnv.lock" ]; then

   for req in requirements requirements-test; do
      if [ -f $req.txt ]; then
         echo "direnv: installing project $req"
         pip install -r $req.txt 1> /dev/null
      fi
   done

   echo "direnv: installing ipython"
   pip install --upgrade ipython 1> /dev/null

   date +%FT%TZ > .direnv/direnv.lock
fi
